@use './media';
@use './btn-style';
@use 'reset-css';
@use './element-plus';
@use './elx';
@use './markdown';
body {
  min-width: 320px;
  overflow: hidden;
  color: #27334a;
  background: #f8faff;
}
